/*

*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

//General Settings
body {
  box-sizing: border-box;
}

*,*:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #202020;
    background-color: #fafafa;
    font-smooth: always;
    -webkit-font-smoothing: antialised;
    -moz-box-font-smoothing: grayscale;

}

ul {
    margin: 0;
    padding: 0;
}

// Variables
$generic-box-shadow: rgba(0, 0, 0, 0, 1) 0px 0px 0px 1px, rgba(0,0,0,0,1) 0px 4px 11px;